/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /*box-shadow: 0 0 1px grey;*/
  border-radius: 10px;
  background: #f4f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black; 
}

 /* end of scrollbar */
 
body {
	background-color: #e5e5e5;
    padding-bottom: 20px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Calibri, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 14px;
	margin: 0px;
} 

.nav {
	
	background-color: #fff;
	padding: .5rem 1rem;
	border-bottom: 2px solid #fff;
	position: fixed;
	top: 0;
	width: 100%;
	
	/*
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 76.88%;
	background: #FFFFFF;
	align-items: center;
	display: flex;
	*/
}

.nav_main {
	display: flex;
	padding: 0 15px;
	margin: 0 179.6px;
}

.brand {
	display: flex;
	padding: 4.375px 0;
	
}

.brand img {
	width: 40px;
	height: 50px;
}

.brand_name {
	font-size: 28px;
    margin-right: 15px;
    display: flex;
    align-items: center;
	font-weight: bold;
}

.nav_data {
	display: flex;
	align-items: center;
	width: 100%;
}

.nav_data_left {
	display: flex;
	align-items: center;
	margin-right: 444px;
}

.nav_data_left_text {
	margin: 5px 0 0 0;
	padding: 7px;
}

.nav_data_right {
	display: flex;
	align-items: center;
	
}
.nav_data_right a{
	padding: 7px;
	
}

i.fa {
	color: #6c757d;
	font-size: 36px;
}

.profile {
	width: 40px;
	height: 40px;
	border-left: 1px solid #ddd;
	padding: 0 0 0 7px;
	margin: 0 0 0 7px;
}

.blue_bg {
	background: #336084;
	height: 280px;
	width: 100%;
	margin-top: 77px;
	
}

.blue_head {
	display: flex;
	padding: 0 15px;
	margin: 0 195px;
	flex-direction: column;
	justify-content: center;
	color: #ffffff;
}

.blue_head_head {
	background-color: #8CB5D6;
	border-radius: 5px;
	height: 39px;
	display: flex;
	align-items: center;
	padding: 0 14px;
	margin: 39px 0px 14px 0px;
	color: #ffffff;
    font-size: 16px;
}

.blue_head_head a{
	text-decoration: none;
	color: white;
}

.blue_head h1 {
	padding: 0px;
	margin: 0px;
	font-size: 40px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Calibri, Arial, "Lucida Grande", sans-serif;
}

.text_but {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}

.text_but .fa {
	margin-right: 10px;
	font-size: 20px;
	color: white;
}

.text_but button {
	background: #28A745;
	border-radius: 4px;
	border: 0;
	width: 222px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	color: white;
	font-family: Helvetica Neue LT Com;
	font-size: 20px;
	line-height: 23px;
}

.white_bg {
    background-color: white;
    height: 1110px;
    margin: 30px 210px;
    border-top: 5px solid #8CB5D6;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

.options {
	width: 220px;
	height: 60px;
	padding: 17.5px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	margin: 25px 50px 10px 20px;
	border: 1px solid #DDDDDD;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
	

}

.options img {
	margin-right: 23px;
}

.options  a {
	text-decoration: none;
	color: black;
}

.white_bg a {
	text-decoration: none;
	color: black;
}

body.modal-open {
	overflow: hidden;
	position: fixed;
}

#mymodal {
	display: none;  /*change to "none" after doing html and css*/
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	
}

.modal-content {
	background-color: white;
	color: black;
	margin: 24.5px 0px  0px 190px;
	height: 594.8px;
	width: 1145.4px;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	border: 1px solid black;
	font-size: 14px;
}

.btn_close {
	background-color: white;
	border: none;
	padding: 0;
}

.m_head {
	display: flex;
	justify-content: space-between;
	padding: 10px 14px 5px;
	align-content: center;
	border-bottom: 1px solid #dee2e6
}

.m_head_left h4 {
	font-size: 21px;
	margin: 10px 0 0 0;
	font-weight: 100;
}

.m_head_right_1 .fa {
	font-size: 20px;
}

.m_head_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.m_head_right_2 {
	font-size: 12px;
	display: flex;
	padding: 10px 0 0 0;	
}

.red {
	color: red;
	padding: 0 3px;
}

#m_body {
	display: flex;
	flex-direction: column;
	padding: 15px;
}
#m1 {
	display: flex;
    align-items: center;
    justify-content: flex-start;
	margin: 0 0px 5px;
}

#m1 input {
    background: #f5f5f5;
    height: 38px;
    width: 485px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid lightgrey;
    margin: 0 10px 10px 11px;
    border-radius: 3px;
}

#m1_tip {
	font-size: 12px;
	width: 33%;
} 

#m2 {
	display: flex;
    align-items: center;
    justify-content: flex-start;
	margin: 0 0px 5px;
}

#m2 input {
    background: #f5f5f5;
    height: 38px;
    width: 485px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid lightgrey;
    margin: 0 10px 10px 20px;
    border-radius: 3px;
	padding: 10px;
}

#m3 {
	display: flex;
    align-items: center;
    justify-content: flex-start;
	margin: 0 0px 5px;
}

#m3 select {
	background: white;
    height: 38px;
	width: 254.35px;
	border-radius: 3px;
	padding: 5px;
	color: grey;
	font-size: 14px;
	border: 1px solid #ccc;
}

.m3_con {
	display: flex;
	flex-direction: column;
	padding-right:33px;
	margin-bottom: 15px;
}

#m4 {
	display: flex;
    align-items: center;
    justify-content: flex-start;
	margin: 0 0px 10px;
}

.m4_con {
	display: flex;
	flex-direction: column;
	padding-right:33px;
	margin-bottom: 10px;
}

#m4 select {
	background: white;
    height: 38px;
	width: 254.35px;
	border-radius: 3px;
	padding: 5px;
	color: grey;
	font-size: 14px;
	border: 1px solid #ccc;
}

#m5 {
	display: flex;
    align-items: flex-end;
    justify-content: flex-start;
	margin: 0 0px 5px;
}

.m5_con {
	display: flex;
	flex-direction: column;
	padding-right:33px;
	margin-bottom: 10px;
}

#m5 select {
	background: white;
    height: 38px;
	width: 254.35px;
	border-radius: 3px;
	padding: 5px;
	color: grey;
	font-size: 14px;
	border: 1px solid #ccc;
}


#m5 input {
	background: white;
    height: 27px;
	width: auto;
	border-radius: 3px;
	padding: 5px;
	color: grey;
	font-size: 14px;
	border: 1px solid #ccc;
}


.m5_con_last {
	display: flex;
	flex-direction: column;
	padding-right:33px;
	margin-bottom: 10px;
	width: 159.56px;
}

#m6 {
	display: flex;
    align-items: flex-end;
    justify-content: flex-start;
	margin: 0 0px 5px;

}

.m6_con {
	display: flex;
	flex-direction: column;
	padding-right:33px;
	margin-bottom: 10px;
	width: 254px;
}

#m6_con_sel {
	display: flex;
    justify-content: space-between;
}

#m6 select {
	background: white;
    height: 38px;
	width: 254.35px;
	border-radius: 3px;
	padding: 5px;
	color: grey;
	font-size: 14px;
	border: 1px solid #ccc;
}

#m6 #m6_con_sel select {
	background: white;
    height: 38px;
	width: 110px;
	border-radius: 3px;
	padding: 5px;
	color: grey;
	font-size: 14px;
	border: 1px solid #ccc;
}

#foot {
	display: flex;
    align-items: center;
    justify-content: flex-end;
	margin: 0 0px 5px;
	border-top: 1px solid #dee2e6;
	padding: 15px;
}
 
#foot button {
	color: #fff;
    background-color: #007bff;
    border-color: #007bff;
	border: 1px solid;
	height: 38px;
	width:	80px;
	border-radius: 5px;
}

#foot .fa-check {
	font-size: 14px;
	color: white;
	padding: 2px;
}

.top-animate {
	position:relative;
	animation:animatetop 0.4s
	}
	@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
	
.backtop-animate {
	position:relative;
	animation:animatebot 0.4s;
	}
	@keyframes animatebot{from{top:0;opacity:1} to{top:-300px;opacity:0}}
	