/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  /*box-shadow: 0 0 1px grey;*/
  border-radius: 10px;
  background: #f4f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black; 
}

 /* end of scrollbar */
 
body {
	background-color: #e5e5e5;
    padding-bottom: 20px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Calibri, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 14px;
	margin: 0px;
} 

.nav {
	
	background-color: #fff;
	padding: .5rem 1rem;
	border-bottom: 2px solid #fff;
	position: fixed;
	top: 0;
	width: 100%;
	
	/*
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 76.88%;
	background: #FFFFFF;
	align-items: center;
	display: flex;
	*/
}

.nav_main {
	display: flex;
	padding: 0 15px;
	margin: 0 179.6px;
}

.brand {
	display: flex;
	padding: 4.375px 0;
	
}

.brand img {
	width: 40px;
	height: 50px;
}

.brand_name {
	font-size: 28px;
    margin-right: 15px;
    display: flex;
    align-items: center;
	font-weight: bold;
}

.nav_data {
	display: flex;
	align-items: center;
	width: 100%;
}

.nav_data_left {
	display: flex;
	align-items: center;
	margin-right: 444px;
}

.nav_data_left_text {
	margin: 5px 0 0 0;
	padding: 7px;
}

.nav_data_right {
	display: flex;
	align-items: center;
	
}
.nav_data_right a{
	padding: 7px;
	
}

i.fa {
	color: #6c757d;
	font-size: 36px;
}

.profile {
	width: 40px;
	height: 40px;
	border-left: 1px solid #ddd;
	padding: 0 0 0 7px;
	margin: 0 0 0 7px;
}

.blue_bg {
	background: #336084;
	height: 280px;
	width: 100%;
	margin-top: 77px;
	
}

.blue_head {
	display: flex;
	padding: 0 15px;
	margin: 0 195px;
	flex-direction: column;
	justify-content: center;
	color: #ffffff;
}

.blue_head_head {
	background-color: #8CB5D6;
	border-radius: 5px;
	height: 39px;
	display: flex;
	align-items: center;
	padding: 0 14px;
	margin: 39px 0px 14px 0px;
	color: #ffffff;
    font-size: 16px;
}

.blue_head h1 {
	padding: 0px;
	margin: 0px;
	font-size: 40px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Calibri, Arial, "Lucida Grande", sans-serif;
}

.white_bg {
	background-color: white;
	height: 1110px;
	margin: 30px 210px;
	border-top: 5px solid #8CB5D6;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
}

.options {
	width: 220px;
	height: 60px;
	padding: 17.5px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	margin: 25px 50px 10px 20px;
	border: 1px solid #DDDDDD;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
	

}

.options img {
	margin-right: 23px;
}

.options  a {
	text-decoration: none;
	color: black;
}

.white_bg a {
	text-decoration: none;
	color: black;
}